<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="contact.component.css">

    
</head>
<body>
    <div class="container">
        <header>
            <h2>Contacto</h2>
            <p>Para más información, comuníquese con nosotros:</p>
        </header>
        <div class="contact-info">
            <ul class="contact-list">
                <li><strong>Teléfono:</strong> +123 456 7890</li>
                <li><strong>Email:</strong> <a href="mailto:CitasMedicasgds0631@example.com">CitasMedicasgds0631example.com</a></li>
                <li><strong>Dirección:</strong> Calle Universidad 123, Ciudad, Dolores Hidalgo</li>
                <li><strong>Horario:</strong> Lunes a Viernes, 9:00 AM - 6:00 PM</li>
            </ul>
            <div class="social">
                
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14892.45470585902!2d-100.94913045!3d21.15582335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3f1b5858ea43%3A0x2b248ec5d96dc3a4!2sDolores%20Hidalgo%20Cuna%20de%20la%20Independencia%20Nacional%2C%20Gto.!5e0!3m2!1ses!2smx!4v1655849183825!5m2!1ses!2smx" allowfullscreen="" loading="lazy"></iframe>
        
            <footer class="footer">
              <ul class="social-icon">
                <li class="icon-elem">
                  <a href="#" class="icon">
                    <img src="https://static.vecteezy.com/system/resources/previews/023/986/704/non_2x/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png" alt="YouTube">
                  </a>
                </li>
                <li class="icon-elem">
                  <a href="#" class="icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png" alt="Instagram">
                  </a>
                </li>
                <li class="icon-elem">
                  <a href="#" class="icon">
                    <img src="https://i.pinimg.com/originals/f3/53/5d/f3535dc3f95e71506f7c80755610176c.png" alt="WhatsApp">
                  </a>
                </li>
                <li class="icon-elem">
                  <a href="#" class="icon">
                    <img src="https://static.vecteezy.com/system/resources/previews/018/930/698/original/facebook-logo-facebook-icon-transparent-free-png.png" alt="Facebook">
                  </a>
                </li>
                <li class="icon-elem">
                  <a href="#" class="icon">
                    <img src="https://cdn.icon-icons.com/icons2/2642/PNG/512/google_mail_gmail_logo_icon_159346.png" alt="Email">
                  </a>
                </li>
              </ul>
              <ul class="menu">
                <li class="menu-elem">
                  <a href="/home" class="menu-icon">Inicio</a>
                </li>
        
                <li class="menu-elem">
                  <a href="/contact" class="menu-icon">Contacto</a>
                </li>
                <li class="menu-elem">
                  <a href="/services" class="menu-icon">Sobre Nosotros</a>
                </li>
              </ul>
              <p>&copy; 2024 Citas Médicas. Todos los derechos reservados.</p>
            </footer>
            
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            <script src="main.js"></script>
        
