<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Client</title>
    <link rel="stylesheet" href="home.component.css">
    
</head>
<body>
    <section class="showcase">
        <video src="assets/Hospital1.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h2>SERVICIOS</h2>
            <h3>DE CITAS MEDICAS</h3>
            <p>Somos una plataforma web destinada a gestionar citas médicas en múltiples hospitales. 
                Centralizada y accesible, facilitamos la programación, modificación y cancelación de citas médicas, 
                permitiendo a usted como paciente interactuar con sus médicos de salud de manera sencilla y eficiente...</p>
            <a href="/signup">Registrarse</a>
            <div class="pago">
                <a href="/pago">pago</a>
            </div>                
            
        </div>
        <div>
            
        </div>
        <ul class="Sociales">
            <li><a href="https://www.facebook.com/profile.php?id=100013647545009&mibextid=LQQJ4d"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
</section>
</body>

