<div class="container">
    <h1 *ngIf="welcomeMessage">{{ welcomeMessage }}</h1>
    <h1>Lista de Médicos</h1>
    <button (click)="verHistorialCitas()">Ver Historial de Citas</button>

    <div class="medicos-container" id="medicos">
      <div class="medico" *ngFor="let medico of medicos">
        <img [src]="medico.imagen" [alt]="medico.nombre">
        <h3>{{ medico.nombre }}</h3>
        <p>Hospital: {{ medico.hospital }}</p>
        <p>Ciudad: {{ medico.ciudad }}</p>
        <p>Especialidad: {{ medico.especialidad }}</p>
        <p>Disponibilidad: {{ medico.disponibilidad }}</p>
        <button class="seleccionar-btn" (click)="abrirModal(medico)" [disabled]="medico.disponibilidad === 'No Disponible'">
          {{ medico.disponibilidad === 'Disponible' ? 'Solicitar Cita' : 'No Disponible' }}
        </button>
      </div>
    </div>
  </div>
  
  <div id="modal" class="modal" [style.display]="modalAbierto ? 'block' : 'none'">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h2 id="modal-titulo">Seleccionar Fecha y Hora</h2>
      <img [src]="medicoSeleccionado.imagen" [alt]="medicoSeleccionado.nombre" *ngIf="medicoSeleccionado.imagen">
      <p>Médico: {{ medicoSeleccionado.nombre }}</p>
      <p>Hospital: {{ medicoSeleccionado.hospital }}</p>
      <p>Especialidad: {{ medicoSeleccionado.especialidad }}</p>
      <div *ngIf="!citaGenerada">
        <input type="date" id="modal-fecha" [(ngModel)]="fechaSeleccionada" placeholder="Seleccionar fecha">
        <input type="time" id="modal-hora" [(ngModel)]="horaSeleccionada" placeholder="Seleccionar hora">
        <button (click)="generarCita()">Generar Cita</button>
      </div>
      <div *ngIf="citaGenerada">
        <p>¡Cita generada con éxito!</p>
        <p>Fecha: {{ fechaSeleccionada }}</p>
        <p>Hora: {{ horaSeleccionada }}</p>
      </div>
    </div>
  </div>
  
  <button (click)="downloadCitas()">Descargar Citas JSON</button>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  