/* Estilos personalizados para la barra de navegación */
.custom-navbar {
    background-color: #27add6; /* Color negro */
    color: #ffffff;
}

/* Estilo para el logotipo o nombre del sitio */
.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

/* Estilo para los enlaces del menú */
.custom-navbar .navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 10px;
    transition: color 0.3s;
}

/* Efecto hover para los enlaces del menú */
.custom-navbar .navbar-nav .nav-link:hover {
    color: #000000; /* Color amarillo claro al pasar el ratón */
}

/* Estilo para el botón de búsqueda */
.custom-navbar .btn-secondary {
    background-color: #e6cfcf; /* Color amarillo claro */
    border: none;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover para el botón de búsqueda */
.custom-navbar .btn-secondary:hover {
    background-color: #9086d7;
    color: #ffffff;
}

/* Estilo para el icono de la barra de navegación en modo móvil */
.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
